# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.SagasJourney.iml
# Datasource local storage ignored files
/../../../../../../../:\Projetos\mass-transit-sagas-super-journey\SagasJourney\.idea\.idea.SagasJourney\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
